body {
    background-color: gray;
}

#container {
    background-color:#3582DF ;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 20px 20px rgba(43, 43, 51, 0.521);
    padding: 0.20cm;
    border: 1px solid black !important;
    
}
#header {
    background: #ffffff;
    color: rgb(29, 28, 28);
    font-family: "Lucida Console";
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}



#images{
    position: fixed;
    top: 5px;
    padding-top: 1em;
    
    
}
#admin{
    position: fixed;
    top: 45px;
    right: 130px
}
#footer{
    font-family: "Lucida Console";
    padding-top: 3cm;
}

.button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Lucida Console";
    font-weight: bolder;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.input{
    font: 95% "Lucida Console";
    font-weight: initial;
	width: 15cm;
	margin: 10px auto;
	padding: 9px;
    background: #F7F7F7;
    border: 2px solid black !important;
}




#content{
    text-align: center;
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 1.5cm;
    font-family: "Lucida Console";
    font-weight: bold
    
}

