<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>QuestionBot</title>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1 style="color: black; border: 5px solid black; letter-spacing: 5px; padding: 10px;">
                Question Bot
                </h1>
            </div>
            <div id="images">
                <img class="images" height="90px" width="90px" src="../static/images/botpic.gif"  th:src="@{/images/botpic.gif}"/>
                <img class="images" height="110px" width="110px"  src="../static/images/uob.svg"  th:src="@{/images/uob.svg}"/>
            </div>
            <div id="admin">
                <button class="button" type="admin">Admin</button>
            </div>
            <div id="content">
                <p>The 'bot' will check previously answered blackboard forum questions and return any matches, if you're question is still not answered then create a new thread.<br></br><br></br>Ask a question!</p>

                <form  method="post">
                    <input class="input" type="text" name="question" placeholder="Type here">
                    <button class="button" type="ask">Ask bot</button>
                </form>
            </div>
            <div id="footer">
                Copyright &copy; 2020 UoB chatbot team
            </div>
        </div>

    </body>
</html>